<h2 class="mt-4">Agregar producto</h2>
<form [formGroup]="formulario">
  <div class="row g-3 align-items-center mb-3 mt-2">
    <div class="col-auto">
      <label class="col-form-label">Nombre:</label>
    </div>
    <div class="col-auto">
      <input type="text" class="form-control" formControlName="nombre" />
    </div>
    <div class="col-auto">
      <article
        error-msg
        [color]="color"
        [mensajeError]="texto"
        *ngIf="validarCampo('nombre')"
      ></article>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-2">
      <button class="btn btn-primary" (click)="cambiarMensaje()">
        Guardar
      </button>
    </div>
    <div class="col-3">
      <button class="btn btn-secondary" (click)="cambiarColor()">
        Cambiar color
      </button>
    </div>
  </div>
</form>

<h4 class="mt-5">Formulario</h4>
<pre>valid: {{ formulario.valid }}</pre>
<pre>valid: {{ formulario.value | json }}</pre>

<div class="row" *customIf="!formulario.valid">
  <div class="col">
    <div class="alert alert-primary">Todo ok!</div>
  </div>
</div>
